<app-toolbar>
    <mat-spinner *ngIf="isLoadingData" class="spinner"></mat-spinner>
    <ng-container *ngIf="!isLoadingData">
        <div class="content">
            <h1 class="content-menu">Visualizar meus turnos</h1>
            
            <mat-card class="schedule-view">
                <table 
                    mat-table [dataSource]="userData"
                    class="schedule-view-table"
                    align="center">
                    <ng-container matColumnDef="Day">
                        <th mat-header-cell *matHeaderCellDef class="schedule-view-table-cell">Data</th>
                        <td mat-cell *matCellDef="let row" class="schedule-view-table-cell"> {{row.date}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="Turn">
                        <th mat-header-cell *matHeaderCellDef class="schedule-view-table-cell">Horário</th>
                        <td mat-cell *matCellDef="let row" class="schedule-view-table-cell"> {{row.times}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Delete">
                        <th mat-header-cell *matHeaderCellDef style="padding: 0;">Cancelar Turno</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">
                            <button mat-button (click)="deleteTurn(row)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>
        </div>
        <app-footer></app-footer>
    </ng-container>
</app-toolbar>