.footer-container {
  padding: 20px 10px 10px 10px;
  text-align: center;
}

.footer-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  width: 200px;
  height: 51px;
  max-width: 70%;
}