.mat-elevation-z8 {
    text-align: center;
}

.view-schedule-details-title {
    text-align: center;
    display: block;
}

.view-schedule-details-users {
    margin-top: 5px;
}

.view-schedule-details-empty {
    text-align: center;
}

.view-schedule-details-users:first-child {
    margin-top: 0px;
}

.view-schedule-details-users-footer {
    margin-top: 15px;
    text-align: right;
}