.schedule-time {
    margin-top: 20%
}

table {
    width: 100%;
}

.data-schedule {
    width: 123px;
    text-align: center;
    margin: auto;
}

.calendar-icon {
    align-items: center;
    width: 115px;
}

.btn-schedule {
    align-items: center;
    margin: 20px 0 0 50px;
}

.schedule-box {
    padding-left: 25px
}