<app-toolbar>
    <div class="content">
        <h1 class="content-menu">Menu</h1>

        <div class="home-content">
            <button mat-raised-button class="home-button" [routerLink]="['/home/schedule']">
                <mat-icon class="schedule-icon" class="home-button-icon">
                    calendar_today
                </mat-icon>
                <br>
                Agendar turnos
            </button>

            <mat-divider></mat-divider>

            <button mat-raised-button class="home-button" [routerLink]="['/home/view/schedule']">
                <mat-icon class="home-button-icon">
                    event
                </mat-icon>
                <br>
                Visualizar meus turnos
            </button>

            <mat-divider></mat-divider>
            
            <button mat-raised-button class="home-button" (click)="doCheckIn()">
                <mat-icon class="home-button-icon">
                    done_all
                </mat-icon>
                <br>
                Check-in
            </button>

            <mat-divider></mat-divider>
            
            <button mat-raised-button class="home-button" (click)="doCheckOut()">
                <mat-icon class="home-button-icon">
                    directions_walk
                </mat-icon>
                <br>
                Check-out
            </button>

            <mat-divider></mat-divider>
            
            <button mat-raised-button class="home-button" (click)="callHelp()">
                <mat-icon class="home-button-icon">
                    accessibility_new
                </mat-icon>
                <br>
                Solicitar ajuda psicológica
            </button>

            <button RoleVerification mat-raised-button
                class="home-button" [routerLink]="['/home/view/psychologist']">
                <mat-icon class="home-button-icon">
                    local_hospital
                </mat-icon>
                <br>
                Pedidos de ajuda psicológica
            </button>
        </div>
    </div>
    <app-footer></app-footer>
</app-toolbar>
