<mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>

<ng-container *ngIf="!isLoadingResults">
  <mat-card class="schedule-time">
    <mat-card-title>
      <h4 style="text-align: center;"><strong>Horários para Voluntariado</strong></h4>
    </mat-card-title>
    
    <mat-card class="data-schedule">
      <mat-icon class="calendar-icon">calendar_today</mat-icon>
      {{actualDate}}
    </mat-card>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="horarios">
            <th mat-header-cell *matHeaderCellDef> Horarios </th>
            <td mat-cell *matCellDef="let element"> {{element.horarios}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Turnos">
            <th mat-header-cell *matHeaderCellDef> Turnos </th>
            <td mat-cell *matCellDef="let element"> {{element.turno}} </td>
          </ng-container>

          <ng-container matColumnDef="Voluntários Atual/Max">
            <th mat-header-cell *matHeaderCellDef> Voluntários Atual/Max </th>
            <td mat-cell *matCellDef="let element" class="volunters-number"> {{element.allVolunteers}} </td>
          </ng-container>
          
          <ng-container matColumnDef="Agendar">
              <th mat-header-cell *matHeaderCellDef> Agendar? </th>
              <td mat-cell *matCellDef="let element">
                <mat-radio-button
                  class="schedule-box"
                  [checked]="selection.isSelected(element)"
                  (change)="scheduleCheckedHandle($event, element)"
                  [disabled]="checkDone"
                >
              </mat-radio-button>
              </td>
            </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
      <mat-paginator 
        showFirstLastButtons="false"
        [hidePageSize]="true"
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (page)="pageEvent = $event"
        (click)="schedulePaginator(pageEvent)">
      </mat-paginator>
  
      <button 
        mat-raised-button color="primary"
        class="btn-schedule"
        (click)="sendSchedules()"
        [disabled]="">Agendar Turno/Horário
      </button>
  </mat-card>
</ng-container>

<div class="sociesc-logo"></div>