<div class="login-background" style="background-image: url('assets/login-background.jpg')">
    <div class="login-container">
        <h1 class="mat-display-2 login-header">Bem-vindo ao <span>Amigos Voluntários</span></h1>
  
        <mat-card class="login-form">
            <form 
                [formGroup]="loginForm" 
                (ngSubmit)="onSubmit(loginForm.value)">

                <mat-form-field class="login-input">
                    <input 
                        matInput 
                        formControlName="email"
                        placeholder="E-mail"
                        id="email"
                        required>
                    
                    <mat-icon matSuffix>account_circle</mat-icon>

                    <mat-error
                        *ngIf="email.invalid && (email.dirty || email.touched) && !email.errors.required">
                        Por favor entre com um email válido
                    </mat-error>
                    
                    <mat-error *ngIf="email?.errors?.required">
                        O Email é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="login-input">
                    <input
                        matInput
                        formControlName="password"
                        type="password"
                        placeholder="Senha"
                        required>
                    
                    <mat-icon matSuffix>vpn_key</mat-icon>

                    <mat-error *ngIf="password?.errors?.required">
                        A senha é <strong>obrigatória</strong>
                    </mat-error>
                </mat-form-field>
    
                <mat-slide-toggle 
                    color="primary"
                    class="login-connected">
                    Mantenha-me conectado
                </mat-slide-toggle>
        
                <button
                    mat-raised-button
                    color="primary"
                    class="login-action"
                    type="submit" 
                    [disabled]="loginForm.status =='INVALID'">
                    Entrar
                </button>
            </form>
    
            <button
                mat-button 
                class="login-lost-password" 
                (click)="goForgotPassword()">
                Esqueci minha senha
            </button>
        </mat-card>
    </div>
</div>

<img 
    class="login-footer"
    src="../../assets/logo-sociesc.svg"
    alt="unisociesc">