.mat-elevation-z8 {
    text-align: center;
}

.psychologist-view {
    margin-top: 20px;
}

.psychologist-view-table {
    width: 100%;
}

.psychologist-view-table-cell {
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}